/* конспект */

table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

td, th {
  border: 1px solid black;
}

tr:hover {
  background-color: tomato;
  color: white;
}

.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
  color: rgb(21, 180, 21);
}

  .social-links .link:active {
  color: rgb(252, 236, 13);
  }

  .social-links .link:visited {
  color: rgb(247, 46, 79);
}

/* Специфичность - 0 0 0 1 */
/* p {
  color: green;
} */

/* ✅ Специфичность - 0 0 0 2 */
article > p {
  color: orange;
}

/* Специфичность - 0 0 1 1 */
.post > h1 {
  color: red;
}

/* ✅ Специфичность - 0 0 2 0 */
.post > .post-title {
  color: orange;
}

/* Занятие 3 */
/* 2. Для селектора p задайте свойство color и значение red, свойство font-size и значение 20px */
p {
color:red;
font-size:20px;
}

/* 3.Для селектора * (любой элемент) задай
свойство margin и значение 0, свойство padding и значение 0; */
* {
  margin:0;
  padding:0;
}

/* 4. Для тега li отмени свойство  list-style с помощью значения none. Задай свойству color значение green;
Убедись на примере изменения цвета текста, что у тега более высокий приоритет, чем у *. */
* {
  color: red;
}

li {
  list-style:none;
  color:green;
}

/* 5. Для класса rule задай задай свойство
list-style и значение upper-roman, свойство color и значение navy; */
li {
  list-style: none;
  color: green;
}

 .rule {
   list-style: upper-roman;
  color: navy;
}

/* 6. Добавьте css правила для класса first-rule и last-rule
под текстом с правилом для класса common-rule */
.common-rule {
  list-style: upper-roman;
  font-size: 20px;
}

.first-rule {
  color:red;
}

.last-rule {
  color:green
}

/* 7. В css добавь класс active к селекторам button и link так, чтобы
правило color: red применилось только к элементу button, содержащему одновременно класс btn и active;
правило font-weight: 700 применилось только к элементу a, содержащему одновременно класс link и active. */
.btn {
  border: none;
  padding: .25rem 1.25rem;
}

.link {
  text-decoration: none;
  color: navy;
}
/* Напиши свой код под этой строкой */
.btn.active {
  color: red;
}

.link.active {
  font-weight: 700;
}

/* 8.Добавь псевдокласс :hover и :focus так, чтобы для класса link применялось свойство
opacity: 1 при наведении курсора или получения фокуса с помощью клавиши tab  */
.link {
  text-decoration: none;
  color: navy;
  opacity: 0.5;
}
/* Напиши свой код под этой строкой */
.link:hover,
.link:focus {
  opacity: 1;
}

/* 9.Для селектора в виде атрибута [type] задай свойство color со значением white.
Повышаем специфичность. Для селектора в виде тега button и атрибута [type="reset"]
задай свойство color со значением green */
[type] {
  color:white;
}
button[type="reset"] {
  color:green;
}

/* 10. Для ссылок с атрибутом href, значение которых начинается с ./ задай цвет текста red.
Для ссылок с атрибутом href, значение которых начинается с https задай цвет текста navy. */
.link {
  text-decoration: none;
}
[href^="./"]{
  color:red;
}
[href^="https"]{
  color:navy;
}
