table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

td, th {
  border: 1px solid black;
}

tr:hover {
  background-color: tomato;
  color: white;
}

.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
  color: rgb(21, 180, 21);
}

  .social-links .link:active {
  color: rgb(252, 236, 13);
  }

  .social-links .link:visited {
  color: rgb(247, 46, 79);
}

/* Специфичность - 0 0 0 1 */
p {
  color: green;
}

/* ✅ Специфичность - 0 0 0 2 */
article > p {
  color: orange;
}
